In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
188257,127032.0,1.881399,-0.675012,-0.174943,0.412779,-0.710419,0.413667,-0.917332,0.363866,1.833690,...,-0.163811,-0.254749,0.344810,0.640121,-0.332305,-0.910107,0.066322,-0.031141,18.00,0.0
188258,127033.0,-0.624018,0.965475,-2.482501,-2.430364,0.620854,-1.596888,0.954674,-0.106991,-1.217235,...,0.704896,2.157932,-0.085369,-0.312870,-0.891926,-0.138034,0.331587,0.448995,20.00,0.0
188259,127033.0,2.142056,-1.060607,-0.647670,-0.862541,-1.014795,-0.427017,-1.046303,-0.040609,0.195642,...,0.319167,0.910973,0.155692,0.757947,-0.147182,-0.121323,-0.000846,-0.039208,29.95,0.0
188260,127034.0,0.879824,-2.987194,-1.214491,-0.196480,-1.684298,-0.509926,0.084698,-0.349710,-0.009485,...,0.189368,-0.852275,-0.186693,-0.093722,-0.683185,-0.638807,-0.112688,0.072884,676.78,0.0
188261,127035.0,1.957925,-1.388554,-0.747517,-1.056240,-0.902134,0.236194,-1.158872,0.147354,-0.081787,...,0.478587,1.130690,0.031656,0.299810,-0.210000,NaN,NaN,NaN,NaN,NaN

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188262 entries, 0 to 188261
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    188262 non-null  float64
 1   V1      188262 non-null  float64
 2   V2      188262 non-null  float64
 3   V3      188262 non-null  float64
 4   V4      188262 non-null  float64
 5   V5      188262 non-null  float64
 6   V6      188262 non-null  float64
 7   V7      188262 non-null  float64
 8   V8      188262 non-null  float64
 9   V9      188262 non-null  float64
 10  V10     188262 non-null  float64
 11  V11     188262 non-null  float64
 12  V12     188262 non-null  float64
 13  V13     188262 non-null  float64
 14  V14     188262 non-null  float64
 15  V15     188262 non-null  float64
 16  V16     188262 non-null  float64
 17  V17     188262 non-null  float64
 18  V18     188262 non-null  float64
 19  V19     188262 non-null  float64
 20  V20     188262 non-null  float64
 21  V21     188262 non-null  float64
 22  V22     188262 non-null  float64
 23  V23     188262 non-null  float64
 24  V24     188262 non-null  float64
 25  V25     188262 non-null  float64
 26  V26     188261 non-null  float64
 27  V27     188261 non-null  float64
 28  V28     188261 non-null  float64
 29  Amount  188261 non-null  float64
 30  Class   188261 non-null  float64
dtypes: float64(31)
memory usage: 44.5 MB

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
credit_card_data['Class'].value_counts()

0.0    187892
1.0       369
Name: Class, dtype: int64

In [ ]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(187892, 31)
(369, 31)

In [ ]:
legit.Amount.describe()

count    187892.000000
mean         89.021503
std         247.870518
min           0.000000
25%           5.960000
50%          22.750000
75%          78.930000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     369.000000
mean      115.454851
std       248.138075
min         0.000000
25%         1.000000
50%        11.400000
75%       104.000000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,66901.711717,-0.115618,0.005843,0.398346,0.078578,-0.128316,0.054829,-0.048413,0.021759,0.018146,...,0.023735,-0.020112,-0.060688,-0.018194,0.006415,0.072273,0.008891,0.001485,0.002119,89.021503
1.0,58298.509485,-5.912764,4.322887,-7.868906,4.823167,-4.276344,-1.422849,-6.879874,0.738393,-2.835812,...,0.403458,0.787783,-0.025039,-0.043948,-0.070775,0.079217,0.042096,0.177570,0.051112,115.454851

In [ ]:
legit_sample = legit.sample(n=492)

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
106377,69945.0,-0.365923,0.985589,1.257217,0.086187,-0.100114,-1.027014,0.610689,0.013061,-0.165950,...,-0.276455,-0.814796,0.019067,0.292134,-0.208950,0.076780,0.233262,0.095846,8.05,0.0
73526,55172.0,-1.586927,1.225765,1.324650,1.169372,0.067918,0.232596,0.168548,-3.092584,0.049634,...,2.301545,-0.095942,-1.189969,0.474160,-0.578991,-0.281797,-0.084013,-0.389860,205.00,0.0
128454,78716.0,1.159678,-1.519168,0.771387,-1.339257,-1.763734,-0.066396,-1.224297,0.065471,-1.979790,...,0.114060,0.489352,-0.074301,0.251836,0.185727,-0.119323,0.045396,0.038691,136.00,0.0
108398,70878.0,1.274456,0.065354,0.155455,0.325946,-0.157901,-0.231894,-0.163749,0.082417,0.076490,...,-0.277898,-0.911007,0.040438,-0.544628,0.245269,0.133590,-0.044082,-0.002868,1.79,0.0
186383,126229.0,1.940359,-0.399818,-0.431761,0.274262,-0.417675,0.045347,-0.656059,0.104000,0.996354,...,0.339414,1.165778,0.086971,0.817317,-0.026546,-0.198363,0.031631,-0.038743,14.49,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
181966,125200.0,-0.769172,1.342212,-2.171454,-0.151513,-0.648374,-0.973504,-1.706658,0.313745,-1.982302,...,-0.036122,-0.753591,-0.047113,0.358493,-0.287407,0.476506,0.250531,0.250987,40.00,1.0
183944,125200.0,-0.769172,1.342212,-2.171454,-0.151513,-0.648374,-0.973504,-1.706658,0.313745,-1.982302,...,-0.036122,-0.753591,-0.047113,0.358493,-0.287407,0.476506,0.250531,0.250987,40.00,1.0
184970,125612.0,1.889618,1.073099,-1.678018,4.173268,1.015516,-0.009389,-0.079706,0.064071,-0.714517,...,0.203728,0.733796,-0.036560,0.334306,0.147171,0.279556,0.031669,0.035883,3.22,1.0
185084,125658.0,0.224414,2.994499,-3.432458,3.986519,3.760233,0.165640,1.099378,-0.654557,-2.435416,...,0.491337,-0.984223,-0.421979,-1.048058,0.726412,0.268625,0.283689,0.419102,0.00,1.0
186357,126219.0,-1.141559,1.927650,-3.905356,-0.073943,-0.044858,-1.756999,-1.217416,0.364563,-2.770148,...,0.102081,-0.531496,-0.328741,0.393100,0.568435,0.786605,-0.146102,0.076211,25.00,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0    369
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,67892.306911,-0.145755,0.106856,0.503751,0.109007,-0.157915,0.102966,-0.064455,0.052880,0.040919,...,0.022292,0.017745,-0.066080,-0.037396,0.028305,0.057317,0.021435,0.010411,0.015510,82.041728
1.0,58298.509485,-5.912764,4.322887,-7.868906,4.823167,-4.276344,-1.422849,-6.879874,0.738393,-2.835812,...,0.403458,0.787783,-0.025039,-0.043948,-0.070775,0.079217,0.042096,0.177570,0.051112,115.454851

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
106377   69945.0 -0.365923  0.985589  1.257217  0.086187 -0.100114 -1.027014
73526    55172.0 -1.586927  1.225765  1.324650  1.169372  0.067918  0.232596
128454   78716.0  1.159678 -1.519168  0.771387 -1.339257 -1.763734 -0.066396
108398   70878.0  1.274456  0.065354  0.155455  0.325946 -0.157901 -0.231894
186383  126229.0  1.940359 -0.399818 -0.431761  0.274262 -0.417675  0.045347
...          ...       ...       ...       ...       ...       ...       ...
181966  125200.0 -0.769172  1.342212 -2.171454 -0.151513 -0.648374 -0.973504
183944  125200.0 -0.769172  1.342212 -2.171454 -0.151513 -0.648374 -0.973504
184970  125612.0  1.889618  1.073099 -1.678018  4.173268  1.015516 -0.009389
185084  125658.0  0.224414  2.994499 -3.432458  3.986519  3.760233  0.165640
186357  126219.0 -1.141559  1.927650 -3.905356 -0.073943 -0.044858 -1.756999

              V7        V8        V9  ...       V20       V21       V22  \
106377  0.610689  0.013061 -0.165950  ...  0.033166 -0.276455 -0.814796
73526   0.168548 -3.092584  0.049634  ... -0.919685  2.301545 -0.095942
128454 -1.224297  0.065471 -1.979790  ... -0.055561  0.114060  0.489352
108398 -0.163749  0.082417  0.076490  ... -0.154625 -0.277898 -0.911007
186383 -0.656059  0.104000  0.996354  ... -0.124078  0.339414  1.165778
...          ...       ...       ...  ...       ...       ...       ...
181966 -1.706658  0.313745 -1.982302  ... -0.102294 -0.036122 -0.753591
183944 -1.706658  0.313745 -1.982302  ... -0.102294 -0.036122 -0.753591
184970 -0.079706  0.064071 -0.714517  ... -0.153570  0.203728  0.733796
185084  1.099378 -0.654557 -2.435416  ... -0.200846  0.491337 -0.984223
186357 -1.217416  0.364563 -2.770148  ... -0.250583  0.102081 -0.531496

             V23       V24       V25       V26       V27       V28  Amount
106377  0.019067  0.292134 -0.208950  0.076780  0.233262  0.095846    8.05
73526  -1.189969  0.474160 -0.578991 -0.281797 -0.084013 -0.389860  205.00
128454 -0.074301  0.251836  0.185727 -0.119323  0.045396  0.038691  136.00
108398  0.040438 -0.544628  0.245269  0.133590 -0.044082 -0.002868    1.79
186383  0.086971  0.817317 -0.026546 -0.198363  0.031631 -0.038743   14.49
...          ...       ...       ...       ...       ...       ...     ...
181966 -0.047113  0.358493 -0.287407  0.476506  0.250531  0.250987   40.00
183944 -0.047113  0.358493 -0.287407  0.476506  0.250531  0.250987   40.00
184970 -0.036560  0.334306  0.147171  0.279556  0.031669  0.035883    3.22
185084 -0.421979 -1.048058  0.726412  0.268625  0.283689  0.419102    0.00
186357 -0.328741  0.393100  0.568435  0.786605 -0.146102  0.076211   25.00

[861 rows x 30 columns]

In [ ]:
print(Y)

106377    0.0
73526     0.0
128454    0.0
108398    0.0
186383    0.0
         ...
181966    1.0
183944    1.0
184970    1.0
185084    1.0
186357    1.0
Name: Class, Length: 861, dtype: float64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(861, 30) (688, 30) (173, 30)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

LogisticRegression()

In [ ]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9578488372093024

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9421965317919075